@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatum ex nisi ipsum expedita magnam doloremque accusamus, unde dicta enim totam nulla necessitatibus tenetur architecto officia voluptate? Numquam, ea libero..</p>
</div>
