@page
@model PrivacyModel
@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos molestiae ab tenetur delectus soluta, officia facere incidunt ratione nostrum necessitatibus perspiciatis deserunt explicabo corrupti veniam laboriosam itaque porro eum. Deserunt..
</p>
